$hover-color: #a41d23;
$price-color: #c6c8ca;
$darker-grey: #656565;
$dark-grey: #898b8e;
$almost-black: #131313;
$lighter-grey: #efefef;
$super-light-grey: #f8f8f8;
$white: #fff;
$alert-messaging: #fbb040;
$background-icons: #888a8d;
